@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

/* Common */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}


.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0;
}

input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}

/* Шапка */

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #ffe17f;
  margin-bottom: 37px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 60px;
  margin-top: 43px;
  margin-bottom: 0;
}

.navigation-logo {
  position: absolute;
  top: 17px;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  min-width: 40px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
}

.navigation-down {
  margin-bottom: 29px;
}

.navigation-item {
  position: relative;
  list-style-type: none;
}

.navigation-form {
  display: flex;
  flex-wrap: wrap;
}

.navigation-search {
  display: flex;
  flex-grow: 1;
  margin: 0;

}

.navigation-search-input {
  flex-grow: 1;
  width: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 48px;
  margin: 0;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 100px 0 0 100px;
  background-color: #FFE17F;
}

.navigation-search-svg {
  position: absolute;
  top: 12px;
  left: 16px;
  fill: #000000;
}

.navigation-search-input:disabled+.navigation-search-svg {
  opacity: 0.3;
}

.navigation-search-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-search-input:disabled {
  opacity: 0.3;
}

.navigation-button {
  min-height: 40px;
  padding: 8px 54px;

  border: 2px solid #000000;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

.navigation-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.navigation-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.navigation-button:disabled {
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  list-style-type: none;
}

.navigation-user .navigation-item-inside:first-child {
  flex-grow: 1;
  margin-right: auto;
}

.login-container {
  display: flex;
}

.exit-item {
padding-left: 10px;
}

.navigation-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 7px;
}

.navigation-link,
.navigation-link-catalog {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 7px 0;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  z-index: 3;
}

.navigation-link-catalog:focus {
  outline: none;
}

.navigation-item-inside .navigation-link {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 2px;
}

.navigation-item-inside:last-child .navigation-link,
.navigation-item-inside:nth-child(2) .navigation-link {
  padding-right: 0;
  padding-left: 20px;
  margin-left: 13px;
}

.navigation-down .navigation-link,
.navigation-link-catalog {
  font-family: "Roleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.navigation-link-catalog::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 300px;
  height: 55px;
  z-index: 1;
}

.navigation-link-catalog:focus::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-icon {
  fill: #000000;
  margin-right: 8px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-button-counter {
  position: absolute;
  top: 10px;
  left: 5px;
  display: inline-block;
  min-width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.navigation-selector-icon {
  position: absolute;
  top: -8px;
  right: 224px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
}

.navigation-selector-icon::before,
.navigation-selector-icon::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 15px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.navigation-selector-icon::after {
  transform: rotate(90deg);
}

.navigation-selector {
  position: absolute;
  top: 50px;
  left: -60px;

  width: 1160px;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 27px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffe17f;
  z-index: 1;
}

.navigation-catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.navigation-catalog {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation-selector-close {
  display: none;
  z-index: 2;
}

.navigation-item:focus-within .navigation-selector-close {
  display: grid;
}

.navigation-item:focus-within .navigation-selector-icon::after {
  transform: rotate(180deg);
}

.navigation-item:hover .navigation-selector-icon,
.navigation-item:active .navigation-selector-icon {
  opacity: 1;
}

.navigation-product {
  width: 222px;
  list-style-type: none;
}

.navigation-product-link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.navigation-product-link:hover {
  opacity: 0.6;
}

.navigation-product-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-product-link:active {
  opacity: 0.3;
}

/* Слайдер */

.slider {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.slider-wrapper-image {
  position: relative;
  top: -72px;
  flex-grow: 1;
  z-index: 1;
}

.slider-image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  object-fit: contain;
}

.slider-controls {
  position: absolute;
  top: 37%;
  display: flex;
  justify-content: space-between;
  width: 530px;
  margin-left: 30px;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/scenery/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:disabled {
  opacity: 0.1;
  cursor: default;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-description {
  width: 545px;
  z-index: 1;
}

.slider-header {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 28px;
}

.slider-paragraph {
  margin: 0;
  margin-bottom: 57px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 560px;
}

.slider-details {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 52px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.slider-link {
  padding: 10px;
  padding-left: 39px;
  padding-right: 39px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

.slider-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transform: translateY(-50%);
}

.slider-details:hover .slider-link::after {
  height: 40px;
}

.slider-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-details:active .slider-link::after {
  background-color: #ffcc33;
}

.slider-line {
  color: #000000;
}

.slider-parameter {
  padding: 0;
  border-right: 18px solid transparent;
  border-bottom: 10px solid transparent;
  font-size: 36px;
}

.slider-parameter-description {
  font-size: 16px;
  color: #444444;
}


.slider-number {
  position: absolute;
  top: -37px;
  width: 100%;
  max-height: 116px;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  background-color: #ffe17f;
  color: #ffffff;
  text-align: end;
}

.slider-number-text {
  position: relative;
  top: -46px;
  right: 48px;
}

.slider-pagination {
  position: absolute;
  top: 464px;
  right: 541px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 1;
}

.slider-pagination-item {
  margin: 0;
  margin-left: 20px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  background-color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover,
.slider-pagination-button-current:hover {
  opacity: 0.5;
}

.slider-pagination-button:focus,
.slider-pagination-button-current:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.slider-pagination-button:active,
.slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #242424;
}

/* Основная часть */
.page-main {
  flex-grow: 1;
}

.page-container {
  position: relative;
  z-index: 1;
}

/* Список категорий каталога */

.products {
  position: relative;
  top: -6px;
  width: 1160px;
  margin: 0 auto;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.products-item {
  list-style-type: none;
}

.product-link {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-bottom: 29px;
  background-color: #ffe17f;
}

.product-link::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 253px;
}

.product-link:hover {
  background-color: #ffc700;
}

.product-link:focus {
  outline: none;
}

.product-link:focus::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.products-item:active {
  opacity: 0.3;
}

.product-link-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products-item:nth-of-type(2) .product-link-svg {
  top: 64%;
}

.product-description {
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

/* Предоставляемые услуги */

.services {
  position: relative;
  background-color: #f0f0f0;
  z-index: -1;
  margin-top: 178px;
  margin-bottom: 70px;
}

.services-wapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  min-height: 289px;
  margin: 0 auto;
}

.services-list {
  position: relative;
  top: -40px;
  margin: 0;
  padding: 0;
  padding-right: 120px;
  width: 280px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}

.services-list::before {
  content: "";
  position: absolute;
  top: -62px;
  right: 0;
  width: 7px;
  height: 319px;
  background-color: #000000;
  transform: translateX(100%);
  z-index: -1;
}

.services-item {
  text-align: center;
  margin-bottom: 35px;
}

.services-link {
  position: relative;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.services-link-active {
  color: #ffe17f;
}

.services-link-active::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 50%;
  width: 280px;
  min-height: 40px;
  background-color: #000000;
  z-index: -1;
  transform: translateY(-50%);
}

.services-link-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.services-link-active:focus {
  outline: none;
}

.services-link-active:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-link-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.services-link-noactive {
  color: #000000;
}

.services-link-noactive::before {
  position: absolute;
  content: " ";
  right: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transform: translateY(-50%);
}

.services-link-noactive:hover::before {
  height: 40px;
}

.services-link-noactive:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-link-noactive:active::before {
  height: 40px;
  background-color: #ffcc33;
}

.services-provided {
  margin: 0;
  margin-left: 122px;
}

.icon-delivery::before {
  position: absolute;
  background-image: url(../images/services/delivery.svg);
  background-repeat: no-repeat;
  content: "";
  top: 5px;
  left: 630px;
  transform: translateX(-50%);
  width: 136px;
  height: 164px;
}

.icon-guarantees::before {
  position: absolute;
  background-image: url(../images/services/guarantees.svg);
  background-repeat: no-repeat;
  content: "";
  top: 5px;
  left: 630px;
  transform: translateX(-50%);
  width: 171px;
  height: 195px;
}

.icon-credit::before {
  position: absolute;
  background-image: url(../images/services/credit.svg);
  background-repeat: no-repeat;
  content: "";
  top: 5px;
  left: 630px;
  transform: translateX(-50%);
  width: 156px;
  height: 188px;
}

.services-name {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-description {
  margin: 0;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
}

.services-provided {
  position: relative;
  top: -28px;
}

/* Дополнительные услуги */

.services-additional {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: #f0f0f0;
  text-transform: uppercase;
}

.services-additional-item {
  margin: 0;
}

.services-additional-link {
  display: block;
  padding: 40px;
  padding-left: 150px;
  padding-right: 150px;
  text-decoration: none;
  color: #000000;
}

.services-additional-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/scenery/delivery.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services-additional-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 42.5px;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  background-image: url("../images/scenery/info.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}

.services-additional-link:hover::before {
  background-color: #ffc700;
}

.services-additional-link:hover::after {
  opacity: 1;
}

.services-additional-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-additional-link:active {
  opacity: 0.3;
}

/* Секция с информацией о магазине */

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 95px;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/* О нас */

.description {
  position: relative;
}

.description::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}


.description-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 45px;
  margin-bottom: 46px;
}

.description-specification {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #444444;
}

.description-specification+.description-specification {
  margin-bottom: 10px;
}

.description-delivery {
  margin-bottom: 25px;
  padding-left: 34px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.description-delivery-item {
  position: relative;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.description-delivery-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -33px;
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
  transform: translateY(-50%);
}

.description-company {
  position: relative;
  text-decoration: none;
  color: #000000;
}

.description-company::after {
  position: absolute;
  content: "";
  left: 0;
  top: -50%;
  width: 100%;
  height: 40px;
}

.description-company:hover {
  opacity: 0.6;
}

.description-company:focus {
  outline: none;
}

.description-company:focus::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.description-company:active {
  opacity: 0.3;
}

.description-details {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 52px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.description-link {
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

.description-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transform: translateY(-50%);
}

.description-details:hover .description-link::after {
  height: 40px;
}

.description-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.description-details:active .description-link::after {
  background-color: #ffcc33;
}

/* Контакты */

.contacts {
  position: relative;
  color: #444444;
}

.contacts::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 84px;
  height: 7px;
  background-color: #000000;
}

.contacts-title {
  margin-top: 45px;
  margin-bottom: 49px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-schedule {
  padding: 0;
}

.contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  line-height: 30px;
}

.contacts-details {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.contacts-write {
  padding: 10px;
  padding-left: 33px;
  padding-right: 32px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}

.contacts-write::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
  transform: translateY(-50%);
}

.contacts-details:hover .contacts-write::after {
  height: 40px;
}

.contacts-write:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-details:active .contacts-write::after {
  background-color: #ffcc33;
}

/* Подписка на рассылку */

.subscribe {
  background: #f0f0f0;
}

.subscribe-wapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title description"
    "form form";
  row-gap: 145px;
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 56px;
}

.section-title {
  grid-area: title;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding-left: 6px;
  padding-top: 4px;
}

.section-description {
  grid-area: description;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  margin: 0;
  padding-top: 12px;
  padding-left: 25px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  grid-area: form;
}

.subscribe-field {
  z-index: 1;
}

.subscribe-field-input {
  height: 100%;
  min-width: 557px;
  padding: 0;
  padding-left: 20px;
  border: none;
  border-bottom: 3px solid #cecece;
  background: #f0f0f0;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-field-input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.subscribe-field-input:hover {
  background: #ffffff;
}

.subscribe-field-input:focus {
  outline: none;
  background: #dcdcdc;
}

.subscribe-field-input:focus:invalid {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe-field-input:disabled {
  opacity: 0.5;
}

.subscribe-field-input:hover:disabled {
  background: #f0f0f0;
}

.subscribe-button {
  border: 3px solid #cecece;
  padding: 15px 35px;
}

.subscribe-addition {
  position: relative;
  flex-grow: 1;
  text-align: end;
  align-self: center;
}

.subscribe-button:hover {
  background: #ebebeb;
}

.subscribe-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  z-index: 1;
}

.subscribe-button:active {
  opacity: 0.3;
}

.subscribe-addition::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 150px;
  width: 14px;
  height: 14px;
  background-image: url("../images/scenery/check-mark.svg");
  transform: translateY(-50%);
}

/* Подвал */

.page-footer {
  background: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  color: #ffffff;
}

.fotter-menu-up {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  column-gap: 100px;
  margin-top: 60px;
  margin-bottom: 47px;
}

.footer-logo {
  padding-top: 20px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.footer-logo:active {
  opacity: 0.3;
}

.footer-contacts-address {
  align-self: flex-end;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}

.footer-about-text {
  margin: 0;
}

.footer-navigation-services {
  align-self: flex-end;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  list-style-type: none;
}

.footer-navigation-item {
  margin-top: 5px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}

.footer-navigation-link {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

.footer-navigation-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.footer-navigation-link:hover::after {
  background-color: #ffc700;
}

.footer-navigation-link:hover {
  color: #ffc700;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-navigation-link:active {
  opacity: 0.3;
}

.footer-contacts-phone {
  text-align: end;
  margin-bottom: 13px;
}

.footer-phone {
  font-style: normal;
  color: #ffffff;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-decoration {
  align-self: center;
  width: 200px;
  height: 100%;
}

.footer-decoration-span {
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  margin-left: 7.5px;
  margin-right: 7.5px;
  fill: #444444;
  height: 40px;
}

.footer-social-svg {
  fill: #444444;
}

.footer-social-svg circle {
  fill: #ffffff;
  fill-opacity: 0.3;
}


.footer-social-svg:hover circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.footer-social-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social-link:active path {
  opacity: 0.3;
}


.footer-htmlacademy-link svg {
  fill: #ffc700;
}

.footer-link {
  width: 200px;
  text-align: end;
}

.footer-htmlacademy-link:hover svg {
  fill: #ffffff;
}

.footer-htmlacademy-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-htmlacademy-link:active svg {
  fill: #ffffff;
  opacity: 0.3;
}




.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.inner-header {

}

.breadcrumbs {
  display: flex;
}
