.page-section-full {
    width: 100%;
}

.page-section-full > *, .page-section {
    max-width: 1160px;
    margin: 0 auto;
}

.page-header {

}

.page-header .row-hidden {
    display: none;
}

.page-header.popup-open {
    // TODO: popup
}

.page-header.popup-open .row-hidden {
    display: block;
}
